* {
  background-color: rgb(65, 67, 68);
  color: white;
}

.recipes-container {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.3s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.card-image{
  width: 300px;
  height: 300px;
}





/* .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.members-list {
  margin-top: 20px;
}

.members-list ul {
  list-style-type: none;
  padding: 0;
}

.members-list li {
  margin-bottom: 10px;
} */
